@font-face {
    font-family: "Jalnan";
    src: url("./Jalnan.ttf");
}

* {
    font-family: "Jalnan";
    text-align: center;
}

.선{
    background-color: #fefefe;
    width: 100%;
    height: 50px
}

.선 > .버튼 {
    line-height: 46px;
    font-size: 25px;
}

.버튼 {
    width: 90%;
    margin: 0 auto;
}
h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(255, 229, 255);
}

img {
    width: 50%;
    border-radius: 100px;
}