@font-face {
    font-family: "Cafe24";
    src: url("./Cafe24.ttf");
}

* {
    font-family: "Cafe24";
}

body {
    background-color: #dbdbdb;
    margin: 0;
}

nav {
    background-color: rgb(248, 230, 245);
    width: 100%;
    height: 60px;
    border-bottom: 3px solid white;
}

nav > p {
    margin: 0 20px;
    line-height: 60px;
    font-size: 25px;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#title {
    font-size: 40px;
    color: #6b6a6a;
    margin-top: 10%;
}

#description {
    font-size: 20px;
    color: rgb(147, 146, 147);
}

hr {
    background-color: rgb(248, 230, 245);
    height:3px;
    border: 0px;
}

.input-box {
    color: #6b6a6a;
    text-align: right;
    width: 300px;
    margin: 0 auto;
    margin-top: 40px;
}